.parent {
  display: flex;
  flex-wrap: wrap;
  width:500px;
  margin: auto;
}

.child {
  flex: 1; /* explanation below */
  margin: 5px;
  height: 100px;
  width:200px;
  /* background-color: blue; */
}